@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200;300;400;600;700;900&display=swap');

:root {
    --bg-color:#fff;
    --black-100: #272727;
    --black-80: #525252;
    --black-60: #A9A9A9;
    --black-40: #D4D4D4;
    --black-20: #EAEAEA;
    --bg-text: 2.3rem;
    --md-text: 1.3rem;
    --sm-text: 1.1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    padding-inline: 5rem;
}

header :is(.nav_menu, .logo_container, .right_nav){
    display: flex;
    align-items: center;
}

.nav_menu {
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 2px solid var(--black-60);
    padding-bottom: 2rem;
}

.logo_container {
    flex-direction: column;
}

.logo {
    font-family: 'Anton', sans-serif;
    font-size: 3.5rem;
    letter-spacing: 1px;
}

.logo_text {
    font-size: var(--sm-text);
    color: var(--black-80);
}

.right_nav {
    gap: 1rem;
}

.subscribe_btn {
    padding: .6rem 1.5rem;
    background-color: var(--black-100);
    color: #fff;
    border: 0;
    border-radius: 1.6rem;
    cursor: pointer;
}

.subscribe_btn:hover {
    opacity: .8;
}

.darkmode,
.prev {
    transform: rotateY(180deg);
    cursor: pointer;
}

.query, .categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.query {
    color: var(--black-60);
    border-bottom: 2px solid currentColor;
}

.categories {
    font-size: var(--md-text);
    font-weight: 600;
    padding-block: 1.2rem;
    gap: 3rem;
}

.category:hover {
    color: var(--black-100);
    cursor: pointer;
}

.search_container {
    position: relative;
}

.search_input {
    width: 100%;
    padding-block: .6rem;
    padding-inline: 3.2rem .6rem;
    border: 1px solid var(--black-60);
    outline: none;
    border-radius: 1.6rem;
    font-size: 1.3rem;
}

.search_icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 1.4rem;
}

#category {
    /* display: none; */
    border: 0;
    outline: 0;
    padding-inline: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

#category option {
    color: var(--black-80);
}

section {
    margin-top: 4rem;
}

.section1 :is(.bottom_news, .top_overview, .flex),
.section1 {
    display: flex;
}

.left_news,
.bottom_news_content:first-child {   
    border-right: 1px solid var(--black-40); 
}

.left_news {
    padding-right: 3rem;
}

.border_bottom {
    border-bottom: 1px solid var(--black-40);
}

.carousel {
    position: relative;
    padding-bottom: 16rem;
}

.slider {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.carousel::before,
.carousel::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 20px;
    background-color: #000;
}

.carousel::before {
    left: 0;
    background: linear-gradient(90deg, white, transparent);
}

.carousel::after {
    right: 0;
    background: linear-gradient(90deg, transparent, white);
}

.carousel_card {
    /* position: relative; */
    /* scroll-snap-align: start; */
}

.cover_img {
    width: 100%;
    /* max-width: 70rem; */
    height: auto;
    border-radius: 6px;
    cursor: pointer;
}

.carousel_overview {
    width: 100%;
    max-width: 60rem;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4%;
    margin: auto;
    border-radius: .6rem;
    cursor: pointer;
}

.top_overview {
    justify-content: space-between;
    font-size: var(--sm-text);
    color: var(--black-60);
}

.top_overview div:last-child {
    letter-spacing: .3rem;
}

.carousel_overview h1 {
    font-size: var(--bg-text);
    text-transform: capitalize;
    text-align: center;
    margin-block: 1.2rem;
    line-height: 3rem;
}

.carousel_overview p {
    font-size: var(--md-text);
    color: var(--black-80);
}

.carousel_navigation {
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.navigation {
    gap: .2rem;
}

.navigation li {
    width: 2.5rem;
    height: .4rem;
    border-radius: .6rem;
    background-color: var(--black-60);
}

li.selected {
    background-color: var(--black-100);
}

.carousel_btn {
    gap: 1rem;
}

.arrow_btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid var(--black-100);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow_btn:hover {
    opacity: .7;
}

.bottom_news,
.right_news {
    justify-content: space-between;
}

.bottom_news {
    padding-block: 3rem;
}

.bottom_news_content:last-child {
    padding-left: 2rem;
}

.bottom_news_content {
    /* width: 30rem; */
}

.bg_text {
    font-size: 1.5rem;
}

.md_text {
    /* font-size: 1.6rem; */
    font-size: var(--md-text);
    margin-block: 1rem;
}

.bottom_news_content p {
    margin-bottom: 0;
}

.right_news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    /* flex-wrap: wrap; */
    padding-left: 3rem;
    /* row-gap: 3rem; */
    height: 70rem;
    overflow-y: scroll;
}

.right_news_item {
    padding-bottom: 3rem;
    /* max-width: 25rem; */
    width: 100%;
}

.right_news_item img {
    width: 100%;
    height: auto;
    border-radius: .6rem;
    margin-bottom: 1rem;
}

.right_news_item span {
    font-size: var(--sm-text);
    color: var(--black-60);
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 992px) {

}
